<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raquel.projetointegrador">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoIntegrador"
        tools:targetApi="31">
        <activity
            android:name=".zMisteriosoTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zMagicoTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zEscaravelhoTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zDiarioTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zMemoriasTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zIracemaTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zCasmurroTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zGrim2Texto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zGrim1Texto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zNarniaTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zMoreninhaTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zIsauraTexto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pesquisa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SobreEmpresa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaibaMais"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Genero"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cadastrar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>